{
  "openapi": "3.1.0",
  "info": {
    "title": "ChatGPT.ge AI Education & Enterprise Training API",
    "description": "Public automated discovery API for Giorgi Basilaia Generative AI training programs, course modules, enterprise workshops, and curated AI tools directory in Georgia.",
    "version": "1.0.0",
    "contact": {
      "name": "Giorgi Basilaia",
      "url": "https://basilaia.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://chatgpt.ge/api/v1",
      "description": "Production API Server"
    }
  ],
  "paths": {
    "/courses": {
      "get": {
        "summary": "List AI training courses and certification tracks",
        "operationId": "getCourses",
        "responses": {
          "200": {
            "description": "Successful retrieval of AI courses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "courses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "lectures": {
                            "type": "integer"
                          },
                          "instructor": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/corporate-training": {
      "get": {
        "summary": "Retrieve corporate B2B training tiers and industry tracks",
        "operationId": "getCorporateTraining",
        "responses": {
          "200": {
            "description": "Corporate training packages and duration tiers"
          }
        }
      }
    },
    "/tools": {
      "get": {
        "summary": "Catalog of 40+ generative AI tools taught in the syllabus",
        "operationId": "getTools",
        "responses": {
          "200": {
            "description": "List of AI tools and categories"
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Service health check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service is healthy and responding",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "pass"
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}